

<br><div align="center">
<hr size="2" noshade width="99%">
<font size="-1" face="arial,helvetica">
<a href="/cgi-bin/pod.cgi">Personal Open Directory Home</a>
</font>
<br><br>
<a href="http://grohol.com/downloads/pod/"><img src="/images/oj/podpower.gif" width="95" height="25" alt="Powered by POD" border="0"></a>
</div>

<!-- Look, I don't need credit on every page in your POD, -->
<!-- but I would appreciate a link via the Powered by POD -->
<!-- somewhere on your Website. After all, it is a free   -->
<!-- program!! Thank you!!                                -->


